---

# uncomment the variables and add info

vault_openhab_config_repo: "ssh://<user>>@<host>:<port>/path/repo.git"

vault_nginx_user: <user>
vault_nginx_password: <pass>

vault_dynv6_device: ""
vault_dynv6_token: '<token>'

vault_gardena_user: 'user_name'
vault_gardena_password: 'password'
vault_gardena_api_key: '<api-key>'


