# stop openhab instance (here: systemd service)
#sudo systemctl stop openhab2.service

# backup current installation with settings
TIMESTAMP=`date +%Y%m%d`;
tar -C / -czf /tmp/openhab2-backup-$TIMESTAMP.tgz  etc/openhab2 var/lib/openhab2

echo "Now save the file /tmp/openhab2-backup-$TIMESTAMP.tgz"

# start openhab instance
#sudo systemctl start openhab2.service
