[Unit]
Description=MQTTwarn
After=mosquitto.service

[Service]
Type=simple
User=pi
Group=pi
#WorkingDirectory=/home/pi
WorkingDirectory=/opt/mqttwarn
#Environment="MQTTWARNINI=/etc/mqttwarn.ini"
#ExecStart=/usr/local/bin/mqttwarn
ExecStart=/opt/mqttwarn/mqttwarn.py

[Install]
WantedBy=default.target

